.gigblaster {
  list-style: none;
}

.gigblaster li {
  border-bottom: 1px solid #ccc;
}

.gigblaster .gig-time {
  display: inline-block;
  padding: 1em 0;
  width: 50%;
}

.gigblaster .gig-title {
  display: inline-block;
  padding: 1em 0;
  width: 50%;
}

.gigblaster .gig-description  {
  background-color: #eee;
}

.gigblaster .gig-description-button {
  height: 1.2em;
  background: url('../svg/arrow-down.svg') no-repeat center center;
  background-size: 1em;
}

.gigblaster .gig-description-button.active {
  background-image: url('../svg/arrow-up.svg');
}

.gigblaster .gig-description-button:hover  {
  background-color: #ddd;
}

.gigblaster .gig-description .gig-description-text {
  display: none;
  padding: 1em;
  text-align: left;
}
